@using MVC4Dec2020Batch.Models
@model List<Student>
@{
    ViewBag.Title = "getmeData4";
}

<h2>getmeData4</h2>

<table class="table table-condensed table-striped">
    <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th>Course</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.studId</td>
            <td>@item.StudentName</td>
            <td>@item.Course</td>
        </tr>
    }

</table>