@model MVC4Dec2020Batch.Models.Faculty
@{
    ViewBag.Title = "GetPartialView";
}

<h2>GetPartialView</h2>

@{var s = Html.Partial("_MypartialView", Model);
    if (1 == 1) { @s}
    }

@{Html.RenderPartial("_MypartialView", Model);}
